<div class="login">
  <h2>Login</h2>
  <%= form_for(:session, html: {class: 'login-form'}, url: login_path, remote: true) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>


    <%= f.check_box :remember_me %>
    <%= f.label :remember_me  %>
    <%= f.submit 'Log in', class: "login-button", id: "login-trigger" %>
  <% end %>
</div>
