<% provide(:title, @user.first_name) %>
<h1>My Deals</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div id="my_info"
<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.email %><br>
<%= link_to 'Edit User Information', edit_user_path %><br>
<%= link_to 'Delete Account', current_user, method: :delete, data: { confirm: 'Are you sure you want to destroy your account?'} %>
</div>


<% current_user.deals.each do |deal| %>
<div id="my_deal">
    <%= link_to deal.title, deal %> <br>
    <%= image_tag deal.image %><br>
    URL: <%= deal.url %><br>
    Deal expiration: <%= l deal.deal_expiration, format: :long %><br>
    Wholesale Price: <%= deal.wholesale_price %><br>
    Retail Price: <%= deal.retail_price %><br>
    Organizer: <%= deal.organizer.first_name %><br>
    Contact Organizer: <%= deal.organizer.email %><br>
    Estimated Delivery: <%= l deal.estimated_delivery, format: :long %><br>
    Total Bids: <%= deal.total_bids %>
  </div>
<br><br>
<% end %>
