<% provide(:title, @user.first_name) %>
<h1>My Deals</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div id="my_info"
<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.email %><br>
<%= link_to 'Edit User Information', edit_user_path %><br>
<%= link_to 'Delete Account', current_user, method: :delete, data: { confirm: 'Are you sure you want to destroy your account?'} %>
</div>

<p><%= link_to "Create A Deal!", new_deal_path %></p>

<% current_user.deals.each do |deal| %>
<div id="my_deal">
    <%= link_to deal.title, deal %> <br>
    <%= image_tag deal.image %><br>
    URL: <%= deal.url %><br>
    Deal expiration: <%= l deal.deal_expiration, format: :long %><br>
    Wholesale Price: <%= deal.wholesale_price %><br>
    Retail Price: <%= deal.retail_price %><br>
    Organizer: <%= deal.organizer.first_name %><br>
    Contact Organizer: <%= deal.organizer.email %><br>
    Estimated Delivery: <%= l deal.estimated_delivery, format: :long %><br>
    Minimum Bids: <%= deal.minimum_bids %><br>
    Total Bids: <%= deal.total_bids %><br>
    Progress: <%= number_to_percentage(progress( deal.total_bids, deal.minimum_bids), precision: 0) %>
  </div>
<br><br>
<% end %>
<hr>
<div>
  <h1>Deal I've Joined</h1>
    <div>
    <ul>
      <% current_user.orders.each do |order| %>
        <% if order.deal.organizer == order.buyer %>
          <% next %>
        <% end %>
        <li>
          <div id="section">
            <%= image_tag order.deal.image %><br>
            Deal Title: <%= order.deal.title %><br>
            URL to deal origin: <%= order.deal.url %><br>
            Deal Expiration: <%= order.deal.deal_expiration %><br>
            Wholesale Price: <%= order.deal.wholesale_price %><br>
            Retail Price: <%= order.deal.retail_price %><br>
            Send Message to Organizer: <%= link_to order.deal.organizer.email %><br>
            Esitmated Delivery: <%= l order.deal.estimated_delivery, format: :long %><br>
            Minimum Bids: <%= order.deal.minimum_bids %><br>
            Total Bids: <%= order.deal.total_bids %><br>
            Progress: <%= number_to_percentage(progress( order.deal.total_bids, order.deal.minimum_bids), precision: 0) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
