<% provide(:title, @user.first_name) %>
<h1>My Deals</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div id="my_info"
<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.email %><br>
<%= link_to 'Edit User Information', edit_user_path %><br>
<%= link_to 'Delete Account', current_user, method: :delete, data: { confirm: 'Are you sure you want to destroy your account?'} %>
</div>

<p><%= link_to "Create A Deal!", new_deal_path %></p>
<br><br>
<!--
=======


<h1>My Created Deals</h1>
<p><%= link_to "Create A Deal!", new_deal_path %></p>
>>>>>>> 6899b9b9a9ef4ad32429d627fa0749650a8e05da -->
<% current_user.deals.each do |deal| %>
<div id="my_deal">
    <%= link_to deal.title, deal %> <br>
    <%= image_tag deal.image %><br>
    URL: <%= deal.url %><br>
    Deal expiration: <%= l deal.deal_expiration, format: :long %><br>
    Wholesale Price: <%= deal.wholesale_price %><br>
    Retail Price: <%= deal.retail_price %><br>
    Organizer: <%= deal.organizer.first_name %><br>
    Contact Organizer: <%= deal.organizer.email %><br>
    Estimated Delivery: <%= l deal.estimated_delivery, format: :long %><br>
    Total Bids: <%= deal.total_bids %>
  </div>
<br><br>
<% end %>

<h1>Deal I've Joined</h1>
<% current_user.orders.each do |order| %>
  <ul>
    <%= image_tag order.deal.image %>
    <li>Deal Title: <%= order.deal.title %></li>
    <li>URL to deal origin: <%= order.deal.url %></li>
    <li>Deal Expiration: <%= order.deal.deal_expiration %></li>
    <li>Wholesale Price: <%= order.deal.wholesale_price %></li>
    <li>Retail Price: <%= order.deal.retail_price %></li>
    <li>Send Message to Organizer: <%= link_to order.deal.organizer.email %></li>
    <li>Esitmated Delivery: <%= l order.deal.estimated_delivery, format: :long %></li>
    <li>Minimum Bids: <%= order.deal.minimum_bids %></li>
    <li>Total Bids: <%= order.deal.total_bids %></li>
    <li>Progress: <%= number_to_percentage(progress( order.deal.total_bids, order.deal.minimum_bids), precision: 0) %></li>
  </ul>
<% end %>
