<h1>Here's your deal summary:</h1>
<div class="deal-box" id="order-box">
  <figcaption>
    <%= image_tag @deal.image %>
    <h2><%= link_to(truncate(@deal.title, length: 30, seperator: ' '), @deal )  %></h2>
    <div class="deal-detail">
      <div class="prices">
        <span class="retail">$<%= @deal.retail_price %></span>
        |   <span class="wholesale">$<%= @deal.wholesale_price %></span><br><br>
      </div>
      <div class="progress-meter">
        <span class="progress" style="width: <%= number_to_percentage(progress( @deal.total_bids, @deal.minimum_bids), precision: 0) %>;"></span>
      </div>
      Progress: <%= number_to_percentage(progress( @deal.total_bids, @deal.minimum_bids), precision: 0) %><br>
      Time Remaining: <%= ((@deal.deal_expiration - Time.now) / 86400).to_i.to_s %> days
    </div>
  </figcaption>
</div>
<div class="description-text" id="order-text">
  Organizer: <%= @deal.organizer.first_name.capitalize %><br>
  Expiration: <%= l @deal.deal_expiration, format: :long %><br>
  Estimated Delivery: <%= l @deal.estimated_delivery, format: :long %><br>
  Original Deal: <%= @deal.url %><br><br><br>
  Description:<br><br> <%= @deal.description %><br><br>
</div>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages_user' %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :email %>
  <%= f.email_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.password_field :password_confirmation %><br>

  <%= f.submit "Sign-up", class: "signup-button" %>
<% end %>
<%= render 'form' %>
