<h1>Deal Summary:</h1>
<div class="deal-box" id="order-box">
  <figcaption>
    <%= image_tag @deal.image %>
    <h2><%= link_to(truncate(@deal.title, length: 30, seperator: ' '), @deal )  %></h2>
    <div class="deal-detail">
      <div class="prices">
        <span class="retail">$<%= @deal.retail_price %></span>
        |   <span class="wholesale">$<%= @deal.wholesale_price %></span><br><br>
      </div>
      <div class="progress-meter">
        <span class="progress" style="width: <%= number_to_percentage(progress( @deal.total_bids, @deal.minimum_bids), precision: 0) %>;"></span>
      </div>
      Progress: <%= number_to_percentage(progress( @deal.total_bids, @deal.minimum_bids), precision: 0) %><br>
      Time Remaining: <%= ((@deal.deal_expiration - Time.now) / 86400).to_i.to_s %> days
    </div>
  </figcaption>
</div>
<div class="description-text" id="order-text">
  <strong>Organizer:</strong> <%= @deal.organizer.first_name.capitalize %><br><br>
  <strong>Expiration:</strong> <%= l @deal.deal_expiration, format: :long %><br><br>
  <strong>Estimated Delivery:</strong> <%= l @deal.estimated_delivery, format: :long %><br><br>
  <strong>Original Deal:</strong> <%= truncate(@deal.url, length: 25) %><br><br>
  <strong>Description:</strong><br><br> <%= @deal.description %><br><br>
</div>

<div class="shipping-info">
  <h2>Your Shipping Address:</h2>
  Street 1 <br><%= text_field_tag "Street 1" %><br><br>
  Street 2 <br><%= text_field_tag "Street 2" %><br><br>
  City<br> <%= text_field_tag "City" %><br><br>
  State <br><%= text_field_tag "State" %><br><br>
  Zipcode <br> <%= text_field_tag "Zipcode" %><br><br>
  <%= render 'form' %>
</div>
