<div class="manual-deal">
  <%= form_for(@deal, remote: true) do |f| %>
    <%= render 'shared/error_messages_deal' %>

    <%= f.label :url %><br>
    <%= f.url_field :url %><br><br>

    <%= f.label :title %><br>
    <%= f.text_field :title %><br><br>

    <%= f.label :image %><br>
    <%= f.file_field :image %><br><br>

    <%= f.label :retail_price_cents %><br>
    <%= f.text_field :retail_price_cents %><br><br>

    <%= f.label :wholesale_price_cents %><br>
    <%= f.text_field :wholesale_price_cents %><br><br>

    <%= f.label :minimum_bids %><br>
    <%= f.number_field :minimum_bids %><br><br>

    <%= f.label :estimated_delivery %><br>
    <%= f.date_field :estimated_delivery %><br><br>

    <%= f.label :delivery_method %><br>
    <%= f.select :delivery_method, ['USPS', 'UPS', 'FedEX', 'Shyp', 'Local Pickup'] %><br><br>

    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.submit "Edit Deal", class: "edit-button" %>
    <% end %>
</div>
