<div>
  <div>
    <%= simple_form_for(@deal) do |f| %>
      <%= render 'shared/error_messages_deal' %>

      <%= f.input :url %>
      <%= f.input :title %>
      <%= f.input :image %>
      <%= f.input :retail_price_cents %>
      <%= f.input :wholesale_price_cents %>
      <%= f.input :minimum_bids %>
      <%= f.input :estimated_delivery %>
      <%= f.input :delivery_method %>

      <%= f.simple_fields_for :orders do |o| %>
        <%= o.input :shipping_address1 %>
        <%= o.input :shipping_address2 %>
        <%= o.input :city %>
        <%= o.input :state %>
        <%= o.input :cc_info %>
        <%= o.input :zipcode %>
      <% end %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>
