<div>
  <div>
    <%= simple_form_for(@deal) do |f| %>
      <%= render 'shared/error_messages_deal' %>

      <%= f.input :url %>
      <%= f.input :title %>
      <%= f.input :image %>
      <%= f.input :retail_price_cents %>
      <%= f.input :wholesale_price_cents %>
      <%= f.input :minimum_bids %>
      <%= f.input :estimated_delivery %>

        <%#= f.fields_for :orders do |order %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>
