<div class="manual-deal">
  <%= form_for(@deal, multipart: true) do |f| %>
    <%= render 'shared/error_messages_deal' %>

    <%= f.label :url, "Original Deal URL" %>
    <%= f.url_field :url, value: params[:search] %><br><br>

    <%= f.label :title %>
    <%= f.text_field :title, value: title %><br><br>

    <%= f.label :image %>
    <%= f.text_field :image, value: image %><br><br>

    <%= f.label :retail_price_cents, "Retail Price" %>
    <%= f.text_field :retail_price_cents %><br><br>

    <%= f.label :wholesale_price_cents, "Wholesale Price" %>
    <%= f.text_field :wholesale_price_cents, value: price_range %><br><br>

    <%= f.label :minimum_bids %>
    <%= f.number_field :minimum_bids %><br><br>

    <%= f.label :estimated_delivery %>
    <%= f.date_field :estimated_delivery %><br><br>

    <%= f.label :delivery_method %>
    <%= f.select :delivery_method, ['USPS', 'UPS', 'FedEX', 'Shyp', 'Local Pickup'] %><br><br>

    <%= f.label :description %>
    <%= f.text_area :description, value: description %><br>

    <h3 id="step-3"> <u>Step 3</u>: Pay for your order: </h3>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Charge"
            data-amount="<%=@deal.wholesale_price_cents%>">
    </script>
  <% end %>
</div>
