<%= provide(:title, "Deals") %>
<h1>Deals#index</h1>
<p>Find me in app/views/deals/index.html.erb</p>

Title: <%= title %><br>
Low Price: <%= low_price %><br>
High Price: <%= high_price %><br>
Description: <%= description %><br>



<%= link_to "Create a deal!", new_deal_path %>

<% @deals.each do |deal| %>
  <ul>
    <%= image_tag deal.image %>
    <%= link_to deal.title, deal %>
    <li><%= deal.url %></li>
    <li><%= deal.deal_expiration %></li>
    <li><%= deal.wholesale_price %></li>
    <li><%= deal.retail_price %></li>
    <li><%= deal.organizer.first_name %></li>
    <li><%= deal.organizer.email %></li>
  </ul>
<% end %>
