<%= provide(:title, "Deals") %>
<body>
<h1>DEALS</h1>
<hr>
<p>Find me in app/views/deals/index.html.erb</p>
<p><%= link_to "Create A Deal!", new_deal_path %></p>

<ul>
  <% @deals.each do |deal| %>
    <li>
      <div id="section">
      <h1><%= link_to deal.title, deal %></h1>
      <%= image_tag deal.image %><br>
      Wholesale: $<%= deal.wholesale_price %><br>
      <span class="retail">Retail: $<%= deal.retail_price %></span><br>
      Expiration: <%= l deal.deal_expiration, format: :long %><br>
      <!-- Delivery: <%= l deal.estimated_delivery, format: :long %><br> -->
      </div>
  </li>
  <% end %>
</ul>
</body>
