<html>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1666401163591465";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

<br>
<h1><%= @deal.title %><h1>
</div>
  <div id= "section">
  <%= image_tag @deal.image %><br>
  <% if logged_in? %>
    <% if current_user.id == @deal.organizer.id %>
      <%= link_to 'Edit Deal', edit_deal_path %><br>
      <%= link_to 'Delete deal', @deal, method: :delete, data: { confirm: 'Are you sure you want to destroy this deal?'} %>
    <% else %>
      <%= link_to "Join this deal!", new_deal_order_path(@deal.id) %>
    <% end %>
  <% else %>
    <p>
      Go <%= link_to "login", login_path %> to jump on this deal!
    </p>
  <% end %>
</div>
<br><br>
  <ul>
    <li id="Retail">Retail Price: $<%= @deal.retail_price %></li><br>
    <li>Wholesale Price: $<%= @deal.wholesale_price %></li><br>

    <li>Organizer: <%= @deal.organizer.first_name %>
      / <%= @deal.organizer.email %></li><br>
      <li>Expiration: <%= l @deal.deal_expiration, format: :long %></li><br>
      <li>Delivery: <%= l @deal.estimated_delivery, format: :long %></li><br>
      <li><%= @deal.url %></li><br>
    </ul>
</div>


<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count">
</div>

</body>
</html>
