<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1666401163591465";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="section">
  <h1><%= @deal.title %></h1>
  <%= image_tag @deal.image %><br>
  <% if logged_in? %>
    <% if current_user.id == @deal.organizer.id %>
      <%= link_to 'Edit', edit_deal_path %> /
      <%= link_to 'Delete', @deal, method: :delete, data: { confirm: 'Are you sure you want to delete this deal?'} %>
    <% elsif current_user.orders.find_by(deal_id: @deal.id) %>
      <h2>You already joined this deal!</h2>
    <% else %>
      <p class="join"><%= link_to "Join this deal!", new_deal_order_path(@deal.id) %><!--create a login/register popup. Submit Order Form with all info from here. Show Stripe button to purchase with fewer steps.-->
    <% end %>
  <% else %>
    <p>
      Go <span id="trigger">login</span> to jump on this deal!
    </p>
  <% end %>
<!--Fix layout and formatting.-->
<div id="nav_show">
  <ul>
    <li id="Retail">$<%= @deal.retail_price %>
    <li class="show_nav">$<%= @deal.wholesale_price %>
    <li class="show_nav">Organizer: <%= @deal.organizer.first_name %>
      / <%= @deal.organizer.email %></li>
    <li class="show_nav">Expiration: <%= l @deal.deal_expiration, format: :long %></li>
    <li class="show_nav">Delivery: <%= l @deal.estimated_delivery, format: :long %></li>
    <li class="show_nav"><%= @deal.url %></li>
    <li class="show_nav">Progress: <%= number_to_percentage(progress( @deal.total_bids, @deal.minimum_bids), precision: 0) %></li>
    <li class="show_nav">Description: <%= @deal.description %></li>
  </ul>
</div>

<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count">
</div>
