<%= provide(:title, "Current Deal") %>
<h1>Deals#show</h1>
<p>Find me in app/views/deals/show.html.erb</p>


<ul>
  <div id= "header">
  <%= @deal.title %><br><br>
</div><br><br>
  <div id= "section">
  <%= image_tag @deal.image %><br>
  <%= @deal.url %>
</div>
  <div id= "nav">
  <%= @deal.deal_expiration %><br>
  <%= @deal.wholesale_price %><br>
  <%= @deal.retail_price %><br>
  <%= @deal.estimated_delivery %><br>
  <%= @deal.organizer.first_name %><br>
  <%= @deal.organizer.email %>
</div>
