<%= provide(:title, "Current Deal") %>
<h1>Deals#show</h1>
<p>Find me in app/views/deals/show.html.erb</p>

<ul>

  Title: <%= @deal.title %><br>
  <%= image_tag @deal.image %>
  <li>URL: <%= @deal.url %></li>
  <li>Deal Expiration: <%= l @deal.deal_expiration, format: :long %></li>
  <li>Wholesale Price:<%= @deal.wholesale_price %></li>
  <li>Retail Price: <%= @deal.retail_price %></li>
  <li>Deal Organizer: <%= @deal.organizer.first_name %></li>
  <li>Organizer Contact: <%= @deal.organizer.email %></li>
  <li>Estimated Delivery: <%= l @deal.estimated_delivery, format: :long %></li>
  <li>Total Bids: <%= @deal.total_bids %></li>
</ul>
<%= link_to 'Edit Deal', edit_deal_path %><br>
<%= link_to 'Delete deal', @deal, method: :delete, data: { confirm: 'Are you sure you want to destroy this deal?'} %>
