<% provide(:title, "Deal Detail") %>
<div class="deal-wrapper">
  <div class="deal-image">
    <%= image_tag @deal.image, class: "show-image" %>
  </div>
  <div class="conditional-text">
    <% if logged_in? %>
      <% if current_user.id == @deal.organizer.id %>
        <button class="join-button deal"><%= link_to 'Edit This Deal', edit_deal_path %></button>
      <% elsif current_user.orders.find_by(deal_id: @deal.id) %>
        <h2>You already joined this deal!</h2>
      <% else %>

          <button class="join-button deal"><%= link_to "Join this deal!", new_deal_order_path(@deal.id) %></button>

      <% end %>
    <% else %>
          <button class="join-button deal"><nav id="trigger">Join this deal!</nav></button>
    <% end %>
  </div>
  <div class="deal-text">
    <h2 class="deal-title"><%= @deal.title %></h2>
    <span class="retail">$<%= @deal.retail_price %></span>
    |   <span class="wholesale">$<%= @deal.wholesale_price %></span><br><br>
    <div class="progress-meter">
      <span class="progress" style="width: <%= number_to_percentage(progress( @deal.total_bids, @deal.minimum_bids), precision: 0) %>;"></span>
    </div>
    <strong>Progress:&nbsp;&nbsp;</strong> <%= number_to_percentage(progress( @deal.total_bids, @deal.minimum_bids), precision: 0) %><br>
    <strong>Time Remaining:&nbsp;&nbsp;</strong>  <%= ((@deal.deal_expiration - Time.now) / 86400).to_i.to_s %> days<br><br>
  </div>
  <div class="description-text">
    <strong>Organizer:&nbsp;&nbsp;</strong>  <%= @deal.organizer.first_name.capitalize %><br>
    <strong>Expiration:&nbsp;&nbsp;</strong>  <%= l @deal.deal_expiration, format: :long %><br>
    <strong>Estimated Delivery:&nbsp;&nbsp;</strong>  <%= l @deal.estimated_delivery, format: :long %><br>
    <strong>Original Deal:&nbsp;&nbsp;</strong>  <%= link_to @deal.url %><br><br><br>
    <strong>Description:&nbsp;&nbsp;</strong> <br><br> <%= @deal.description %><br><br>
    <h3 class="viral">Make it go viral!</h3> <%= social_share_button_tag(@deal.title) %>
  </div>
</div>
