
<header>
	<ul>
  <% if current_user %></li>
    <li class="purple" style='display:inline-block'><%= link_to "Log out", logout_path, method: "delete" %></li>
    <li class="purple" style='display:inline-block'> Hello,</style> <%= link_to current_user.first_name, user_path(current_user.id) %></li>
  <% else %>
    <li class="purple" style='display:inline-block'><%= link_to "Sign up", signup_path %></li>
    <li class="purple" style='display:inline-block'><%= link_to "Log in", login_path %></li>
  <% end %>

    <li class="purple" style='display:inline-block'><%= link_to "How It Works", how_it_works_path %></li>
	<a href="/"><img class='logo'src="/logo copy.png" alt="logo" /> </a>
</ul>
</header>
