<!--
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>
    <% end %>
  </ul>
</nav>
<hr> -->
<div id="user_nav">
	<%= link_to "Home", root_path %>

    <%= link_to "How It Works", how_it_works_path %>

    <% if current_user %>
    Hello, <%= link_to current_user.first_name, user_path(current_user.id) %>
    <%= link_to "Log out", logout_path, method: "delete" %>
  		<% else %>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "log in", login_path %>
  <% end %>
</div>
