<header>
	<ul>
	  <% if current_user %></li>
			<li class="purple"><%= link_to "How It Works", how_it_works_path %></li>
	    <li class="purple"> Hello,</style> <%= link_to current_user.first_name, user_path(current_user.id) %></li>
	    <li class="purple"><%= link_to "Log out", logout_path, method: "delete" %></li>
	  <% else %>
			<li class="purple"><%= link_to "How It Works", how_it_works_path %></li>
		  <li class="purple"><span id="trigger">Log in</mark></li>
	    <li class="purple"><span id="trigger">Sign-up</mark></li>
	  <% end %>
		<a href="/"><img class='logo'src="/logo copy.png" alt="logo" /></a>
	</ul>
</header>
<div class="tag-line">
  Join others. Buy in bulk. Pay wholesale.
</div>
<div class="modal">
	<%= render 'sessions/form' %>
	<%= render 'users/form' %>
</div>
